.table {
  border-collapse: collapse;
  font-size: 15px;
  font-family: 'Roboto';
}
.row {
  line-height: 35px;
  &:hover {
    background-color: #f0f0f0;
  }
}

td {
  border-bottom: 1px solid #f0f0f0;
  text-align: start;

}

th {
  border-bottom: 1px solid #f0f0f0;
  text-align: start;
  line-height: 35px;
}

.rank {
  width: 60px !important;
}

tr {
  border-bottom: 1px solid #000000;
}

.arrows_box{
  display: inline-grid;;
  .material-icons {
    color: #cac7c7;
    vertical-align: middle;
    cursor: pointer;
    font-size: 17px;
    line-height: 0.7;
    width: 20px;
    &::after{
      display: none;
    }
  }
}


