#root {
  margin-left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}


.header {
  height: 50px;
}

.main {
  overflow: auto;
  height: 95vh;
}




